*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(58, 16, 97);
}
h1{
    font-family: 'Dela Gothic One', cursive;
    color: beige;
    text-align: center;
    padding-top: 50px;
}
h3{
    font-family: 'Cairo', sans-serif;
    color: beige;
    text-align: center;
}
form{
    text-align: center;
    
}